<section class="mt-xl-0 mt-lg-0 mt-md-0 mt-sm-4 mt-xs-4">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card flip">
        <div class="card-header headerBgColor">
         <b> <span style="font-size: 16px">PATIENT DETAILS</span> </b>
          <i class="fa fa-plus pull-right" style="font-size:12px"></i>
          <i class="fa fa-edit pull-right" style="font-size:12px"></i>
        </div>
        <div class="card-body">
          <form class="mb-2 mt-1" #heroForm="ngForm">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <label class="ml-1 mt-1"> <b>Name</b></label>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 mr-1">
            <div class="form-group">
             
                <!-- <input type="text" formControlName="firstName" class="form-control"  placeholder="HARSHAL PATEL" 
                
                
                
                formControlName="firstName"  /> -->
    <input type="text" class="form-control" id="name" required [(ngModel)]="patientData['name']" name="name"
       #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
            </div>
            
            <div *ngIf="valid"
            class="alert alert-danger">
         Name is required
       </div>
            </div>
  
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
              <label><b>DOB</b> </label>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                <label> {{patientData.dob}}</label>
                </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                <label><b>Age</b> </label>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label> {{patientData.age}}</label>
                    </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                  <label ><b>Gender</b> </label>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label> {{patientData.gender}}</label>
                    </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label> <b>InsType</b></label>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label> {{patientData.insType}}</label>
                        </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                      <label > <b>Group</b> </label>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label> {{patientData.group}}</label>
                        </div>
                      <div class="col-xl-2 col-lg-2 col-md-42col-sm-12 col-xs-12 ">
                        <label ><b>Rel</b> </label>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <label > {{patientData.rel}}</label>
                            </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                          <label> <b>PersonCode</b></label>
                          </div>
                          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <label> {{patientData.personCode}}</label>
                            </div>
                          <div class="col-xl-2 col-lg- col-md-2 col-sm-12 col-xs-12 ">
                            <label ><b>Address</b> </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <label>{{patientData.address}}</label>
                                </div>
            </div>
            </form>
        </div>
      </div>
      <div class="card flip">
        <div class="card-header headerBgColor">
         
       

          <b> <span style="font-size: 16px"> PRESCRIBER DETAILS</span> </b>
          <i class="fa fa-plus pull-right" style="font-size:12px"></i>
          <i class="fa fa-edit pull-right" style="font-size:12px"></i>
        </div>
        <div class="card-body">
          <form class="mb-2 mt-1" >
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <label class="ml-1 mt-1"> Name: </label>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 mr-1">
                <div class="form-group">

        <input type="text" class="form-control" id="name" required [(ngModel)]="perscriberData.name" name="name"
           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                </div>
                
                <div *ngIf="valid"
                class="alert alert-danger">
             Name is required
           </div>
                </div>
            
  
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
              <label> <b>License</b></label>
              </div>
              <div class="col-xl- col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <label class="ml-1"> {{perscriberData.license}}}</label>
                </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <label > <b>Phone</b>  </label>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <label> {{perscriberData.phone}}</label>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                        <label> <b>NPI</b></label>
                        </div>
                        <div class="col-xl- col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                          <label class="ml-1"> {{perscriberData.npi}}</label>
                          </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                          <label > <b>DEA</b>  </label>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                              <label> {{perscriberData.dea}}</label>
                              </div>


               
                
                 
                     
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                            <label> <b>Address</b></label>
                            </div>
                          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                            <label >{{perscriberData.address}} </label>
                            </div>
            </div>
            </form>
        </div>
      </div>
      <div class="card flip">
        <div class="card-header headerBgColor">
         
      

          
          <b> <span style="font-size: 16px">  DRUG DETAILS</span> </b>
          <i class="fa fa-plus pull-right" style="font-size:12px"></i>
          <i class="fa fa-edit pull-right" style="font-size:12px"></i>
        </div>
        <div class="card-body">
          <form class="mb-2 mt-1" >
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <label class="ml-1 mt-1"> Name: </label>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 mr-1">
                <div class="form-group">
             
                    <!-- <input type="text" formControlName="firstName" class="form-control"  placeholder="HARSHAL PATEL" 
                    
                    
                    
                    formControlName="firstName"  /> -->
        <input type="text" class="form-control" id="name" required [(ngModel)]="drugData.name" name="name"
           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                </div>
                
                <div *ngIf="valid"
                class="alert alert-danger">
             Name is required
           </div>
            </div>
  
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
              <label><b>NOC</b> </label>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                <label>{{drugData.noc}}</label>
                </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                <label > <b>from</b> </label>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label>{{drugData.from}}</label>
                    </div>
                
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                  <label > <b>Brand</b></label>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label >  {{drugData.brand}} </label>
                    </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <label > <b>AWP</b></label>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label > {{drugData.awp}} </label>
                        </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                      <label > <b>Cost</b> </label>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label > {{drugData.cost}} </label>
                        </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label > <b>PrUp</b>  </label>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <label >  {{drugData.prup}} </label>
                            </div>
                        
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                          <label> <b>Size</b></label>
                          </div>
                          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <label >  {{drugData.size}} </label>
                            </div>
                          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <label > <b>Qcd</b> </label>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                                <label > {{drugData.qcd}} </label>
                                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                                <label > <b>RxCost</b> </label>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                                    <label > {{drugData.rxcost}} </label>
                                    </div>
            </div>
            </form>
        </div>
      </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card flip">
          <div class="card-header headerBgColor">
            <div class="row">
            Rx DETAILS
           
              
                
                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12  ">
                    <input type="checkbox"  class="form-control"  placeholder="CASH" />
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                        <label> BillTo</label>
                      </div>


                         <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 ">
                            <label> OrderedDate</label>
                          </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12  ">
                        <input type="text"  class="form-control"  placeholder="CASH"  class="tetxbox" />
                        </div>

                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 ml-3">
                            <label> RefilQty</label>
                          </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12  ">
                        <input type="text"  class="form-control"  placeholder="CASH" class="tetxbox" />
                        </div>
                       
            </div>
            <i class="fa fa-plus pull-right" style="font-size:12px"></i>
          </div>
          <div class="card-body">
            <form class="mb-2 mt-1" >
              <div class="row">

      
                
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                <label class="ml-1"> Bill To</label>
              </div>
            
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12  ">
                <div class="form-group">

                    <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.billTo" name="name"
                       #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                            </div>
                            
                            <div *ngIf="valid"
                            class="alert alert-danger">
                         Name is required
                       </div>
                </div>

              
                
          
                 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="ml-1"> IOU</label>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="form-group">

                        <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.iou" name="name"
                           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                </div>
                                
                                <div *ngIf="valid"
                                class="alert alert-danger">
                             Name is required
                           </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                        <label class="ml-1"> Fill Date</label>
                      </div>
                    
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3 ">
                        <div class="form-group">

                            <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.fillDate" name="name"
                               #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                    </div>
                                    
                                    <div *ngIf="valid"
                                    class="alert alert-danger">
                                 Name is required
                               </div>
                        </div>
                        
                  
                         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                            <label class="ml-1"> Fill No</label>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                            <div class="form-group">

                                <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.fillNo" name="name"
                                   #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                        </div>
                                        
                                        <div *ngIf="valid"
                                        class="alert alert-danger">
                                     Name is required
                                   </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                <label class="ml-1"> Rx Type</label>
                              </div>
                            
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3 ">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.rxType" name="name"
                                       #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                            </div>
                                            
                                            <div *ngIf="valid"
                                            class="alert alert-danger">
                                         Name is required
                                       </div>
                                </div>
                                
                          
                                 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                    <label class="ml-1">DAW</label>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                    <div class="form-group">

                                        <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.daw" name="name"
                                           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                </div>
                                                
                                                <div *ngIf="valid"
                                                class="alert alert-danger">
                                             Name is required
                                           </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                        <label class="ml-1"> SIG</label>
                                      </div>
                                    
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12  mt-3">
                                        <div class="form-group">

                                            <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.sig" name="name"
                                               #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                    </div>
                                                    
                                                    <div *ngIf="valid"
                                                    class="alert alert-danger">
                                                 Name is required
                                               </div>
                                        </div>
                                        
                                  
                                         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                            <label class="ml-1"> Qty Dsp</label>
                                          </div>
                                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                            <div class="form-group">

                                                <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.qtyDsp" name="name"
                                                   #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                        </div>
                                                        
                                                        <div *ngIf="valid"
                                                        class="alert alert-danger">
                                                     Name is required
                                                   </div>
                                            </div>

                                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                <label class="ml-1"> SIG Descr</label>
                                              </div>
                                              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-3">
                                                <div class="form-group">

                                                    <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.sigDescr" name="name"
                                                       #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                            </div>
                                                            
                                                            <div *ngIf="valid"
                                                            class="alert alert-danger">
                                                         Name is required
                                                       </div>
                                                </div>
                                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                    <label class="ml-1">Note</label>
                                                  </div>
                                                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-3">
                                                    <div class="form-group">

                                                        <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.note" name="name"
                                                           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                </div>
                                                                
                                                                <div *ngIf="valid"
                                                                class="alert alert-danger">
                                                             Name is required
                                                           </div>
                                                    </div>

                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                        <label class="ml-1"> AWP price</label>
                                                      </div>
                                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                                        <div class="form-group">

                                                            <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.awpPrice" name="name"
                                                               #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                    </div>
                                                                    
                                                                    <div *ngIf="valid"
                                                                    class="alert alert-danger">
                                                                 Name is required
                                                               </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                                                            <label class="ml-1"> Acq pricet</label>
                                                          </div>
                                                          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                            <label class="ml-1"> Price</label>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                                            <div class="form-group">

                                                                <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.price" name="name"
                                                                   #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                        </div>
                                                                        
                                                                        <div *ngIf="valid"
                                                                        class="alert alert-danger">
                                                                     Name is required
                                                                   </div>
                                                            </div>
                                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                                                                <label class="ml-1"> Cash Price</label>
                                                              </div>
                                                              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                                <label class="ml-1"> Pharmacy fee</label>
                                                              </div>
                                                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                                                <div class="form-group">

                                                                    <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.PharmacyFee" name="name"
                                                                       #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                            </div>
                                                                            
                                                                            <div *ngIf="valid"
                                                                            class="alert alert-danger">
                                                                         Name is required
                                                                       </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                                                                    <label class="ml-1">Ins Dispencing</label>
                                                                  </div>
                                                                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                                    <label class="ml-1"> U$C</label>
                                                                  </div>
                                                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                                                    <div class="form-group">

                                                                        <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.u$c" name="name"
                                                                           #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                                </div>
                                                                                
                                                                                <div *ngIf="valid"
                                                                                class="alert alert-danger">
                                                                             Name is required
                                                                           </div>
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                                                                        <label class="ml-1">Patient Pay</label>
                                                                      </div>
                                                                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-3">
                                                                        <label class="ml-1">Billed</label>
                                                                      </div>
                                                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-3">
                                                                        <div class="form-group">

                                                                            <input type="text" class="form-control" id="name" required [(ngModel)]="rxData.billed" name="name"
                                                                               #name="ngModel" style="font-size: 10px;" (change)="getName($event); heroForm.reset()">
                                                                                    </div>
                                                                                    
                                                                                    <div *ngIf="valid"
                                                                                    class="alert alert-danger">
                                                                                 Name is required
                                                                               </div>
                                                                        </div>
                                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
                                                                            <label class="ml-1"> Insurance Total</label>
                                                                          </div>

              </div>
              </form>
          </div>
        </div>
        </div>
    </div>

  
  </section>